/* This is the syntax for a CSS comment. */

/* Typically you put all of your general element styles at the top. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background-color: #eeeeee;
}

article {
    font-size: 16px;
    font-family: georgia, serif;
}

h1 {
    font-size: 24px;
	color: #aaaaaa;
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
    border: 3px solid #ff6666;
    padding: 3px;
}

h2 {
    font-size: 22px;
    color: #ff6666;
}

p {
    margin-bottom: 16px;
}

img {

}


/* Container or module styles probably come next. */

header {
    float: left;
    background-color: #111111;
    height: 40px;
}

nav {
    font-size: 12px;
    font-family: helvetica, arial, sans-serif;
    background-color: #000000;
    color: #aaaaaa;
    height: 40px;
}

nav a {
    float: left;
    margin-top: 15px;
    color: #aaaaaa;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: #ffffff;
}

nav a:active {
    text-decoration: underline;
}

section {
    margin-left: 5px;
    margin-top: 10px;
    clear: both;
    line-height: 24px;
}

aside {
    margin-left: 5px;
    clear: both;
    line-height: 24px;
}

footer {
    font-size: 12px;
    font-family: georgia, serif;
    text-align: center;
    color: #c0c0c0;
}

/* Class and ID styles come last because they are the most specific. */

#copyright {

}